.main {
    width: auto;
    height: auto;
    background-image: url("back.svg");
}


.carouselContent {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 50px 0 ;
}


.carouselContent img {
    height: 280px;
    margin: 0 150px;
}

.carouselContentMobile {
    width: 100%;
    display: none;
}

@media screen and (max-width: 1920px) {
    .main {
        background-size: 100%;
    }
    .carouselContent {
        height: 600px;
        overflow: hidden;
    }
    .carouselContent img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1440px) {
    .main {
        background-size: 100%;
    }
    .carouselContent {
        height: 350px;
        overflow: hidden;
    }
    .carouselContent img {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 70%;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .main {
        background-size: 100%;
    }
    .carouselContent {
        height: 250px;
        overflow: hidden;
    }
    .carouselContent img {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 40%;
        margin: 0;
    }
}

@media screen and (max-width: 450px) {
    .main {
        background-size: 100%;
    }
    .carouselContent {
        display: none;
    }
    .carouselContentMobile {
        padding: 40px 0;
        display: block;
    }
    .carouselContentMobile img {
        height: 100px;
        margin: 0;
    }
}

