.input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    transition: .2s;
    margin: 10px 0;
    box-sizing: border-box;
}

.error {
    animation: error .5s 1;
    color: black;
}

.error::placeholder {
    color: #DE303B;
}

.input:focus {
    transform: scale(1.01) translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.input::placeholder {
    font-size: 15px;
}

@keyframes error {
    0% {
    }
    20% {
        transform: translateX(-3px);
    }
    40% {
        transform: translateX(3px)
    }
    60% {
        transform: translateX(-3px)
    }
    80% {
        transform: translateX(3px);
    }
    100% {
    }
}

.label {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.icon {
    position: absolute;
    top: 32%;
    right: 4%;
    width: auto;
    height: 40%;
    transition: .2s;
}

.iconFocused {
    transform: scale(1.01) translateY(-5px);
}

@media screen and (max-width: 768px) {
    .input {
        font-size: 8px;
        padding: 7px;
        border-radius: 5px;
        margin: 5px 0;
    }
    .input::placeholder {
        font-size: 8px;
    }
}

@media screen and (max-width: 450px) {
    .input {
        padding: 8px 12px;
        font-size: 13px;
        border-radius: 10px;
    }
    .input::placeholder {
        font-size: 13px;
    }
}
