.profile {
    width: auto;
    height: auto;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    text-align: center;
    border-radius: 10px;
    background-color: #2455C6;
    color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    outline: none;
    border: none;
    padding: 10px 20px;
    transition: .1s ease-in-out;
    margin: 10px 0;
}

.button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.button:active {
    filter: brightness(90%);
    transform: scale(0.99);
}


.result {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
}

.profileContent {
    width: 100%;
    height: auto;
    border-radius: 30px;
    background-color: #F8F8F8;
    padding: 25px;
    box-sizing: border-box;
}

.blockTest {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.wave1 {
    width:150px;
    height: 150px;
    background-color: inherit;
    position: absolute;
    top: -50px;
    right: -3px;
    border-radius: 60px;
    animation: wave1 3.5s infinite linear;
}

@keyframes wave1 {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}

.wave2 {
    width: 150px;
    height: 150px;
    background-color: inherit;
    position: absolute;
    bottom: -40px;
    right: -3px;
    border-radius:60px;
    animation: wave2 3.5s infinite linear;
}

@keyframes wave2 {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}

.backGround {
    position: absolute;
    height: 100%;
    background-color: #DFF4D6;
    z-index: 2;
    left: 0;
}

.progress {
    transition: .5s;
    position: relative;
    z-index: 1;
    width: auto;
    height: 100px;
    border-radius: 30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}


.progress img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    z-index: 3;
}

.progressContent {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
    z-index: 3;
}

.progressContent h2 {
    font-size: 20px;
    font-weight: 500;
    z-index: 3;
}

.progressContent p {
    color: #707070;
    font-size: 12px;
    font-weight: 500;
    z-index: 3;
}

.progress h1 {
    color: #B5B7C0;
    font-size: 35px;
    z-index: 3;
}

.profileInfo {
    width: auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px 0;
}

.profileName {
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
    font-weight: 900;
    font-size: 30px;
}
.profileName svg {
    cursor: pointer;
}
.profileId {
    width: auto;
    text-align: right;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
}


@media screen and (max-width: 768px) {
    .profile {
        padding: 25px 50px;
    }
    .button {
        width: 100%;
        font-size: 8px;
        padding: 7px 10px;
        border-radius: 5px;
    }
    .result {
        font-size: 12px;
    }
    .profileContent {
        padding: 30px;
    }
    .profileInfo {
        margin: 0 0 30px 0;
    }
    .profileName {
        font-size: 20px;
    }
    .profileId {
        align-items: flex-end;
    }
    .profileId p {
        font-size: 12px;
    }
    .progress {
        height: auto;
        padding: 10px;
        border-radius: 10px;
    }
    .progress img {
        width: 25px;
        height: 25px;
    }
    .progressContent h2 {
        font-size: 12px;
    }
    .progressContent {
        font-size: 9px;
    }
    .progress h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 450px) {
    .profile {
        display: flex;
        align-items: flex-start;
        padding: 0 10px 100px 10px;
        height: auto;
    }
    .result {
        font-size: 15px;
    }
    .profileContent {
        padding: 15px;
        background-color: white;
    }
    .progress {
        border-radius: 10px;
        height: 70px;
    }
    .progress img {
        height: 30px;
        width: 30px;
    }
    .progress h1 {
        display: none;
        font-size: 20px;
    }
    .progress h2 {
        font-size: 10px;
    }
    .progress p {
        font-size: 10px;
    }
    .profileName {
        font-size: 15px;
    }
    .profileId {
        font-size: 12px;
    }
    .profileInfo {
        height: 40px;
        margin: 5px 0;
    }
    .button {
        padding: 5px 10px;
        font-size: 10px;
        border-radius: 5px;
    }
    .profileName {
        align-items: flex-start;
    }
}

.input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    transition: .2s;
    margin: 10px 0;
    box-sizing: border-box;
}

.input:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.input::placeholder {
    font-size: 15px;
}
.button {
    text-align: center;
    border-radius: 10px;
    background-color: #2455C6;
    color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    outline: none;
    border: none;
    padding: 10px 20px;
    transition: .1s ease-in-out;
    width: 100%;
}
.button:hover {
    filter: brightness(90%);
}

.button:active {
    filter: brightness(90%);
    transform: scale(0.99);
}



@media screen and (max-width: 768px) {
    .button {
        font-size: 8px;
        margin-top: 20px;
        border-radius: 5px;
        padding: 5px;
    }
}

@media screen and (max-width: 450px) {
    .button {
        padding: 10px 10px;
        font-size: 11px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 768px) {
    .input {
        font-size: 8px;
        padding: 7px;
        border-radius: 5px;
        margin: 5px 0;
    }
    .input::placeholder {
        font-size: 8px;
    }
}

@media screen and (max-width: 450px) {
    .input {
        padding: 8px 12px;
        font-size: 13px;
        border-radius: 10px;
    }
    .input::placeholder {
        font-size: 13px;
    }
}
