.main {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #F8F8F8;
    border-radius: 30px;
    width: 400px;
    height: auto;
    padding: 35px;
    box-sizing: border-box;
}

.title {
    font-size: 22px;
    font-weight: 500;
    margin: 8px 0;
}

.subtitle {
    font-size: 15px;
    color: #6C6F82;
    margin: 8px 0;
}
.input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    transition: .2s;
    margin: 10px 0;
    box-sizing: border-box;
}

.button {
    text-align: center;
    border-radius: 10px;
    background-color: #2455C6;
    color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    outline: none;
    border: none;
    padding: 10px 20px;
    transition: .1s ease-in-out;
    width: 100%;
    margin: 10px 0;
}
.button:hover {
    filter: brightness(90%);
}

.button:active {
    filter: brightness(90%);
    transform: scale(0.99);
}

.label {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.label svg {
    position: absolute;
    right: 5%;
    top: 35%;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .button {
        padding: 10px 10px;
        font-size: 11px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 768px) {
    .input {
        font-size: 8px;
        padding: 7px;
        border-radius: 5px;
        margin: 5px 0;
    }
    .input::placeholder {
        font-size: 8px;
    }
}

@media screen and (max-width: 450px) {
    .input {
        padding: 8px 12px;
        font-size: 13px;
        border-radius: 10px;
    }
    .input::placeholder {
        font-size: 13px;
    }
}