.main {
    background-color: rgba(0,0,0,0.03);
    border-radius: 30px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 60%;
    height: auto;
    transition: .2s ease-in-out;
}
.readMore {
    text-transform: lowercase;
    text-align: center;
    display:  block;
    cursor: pointer;
    justify-content: center;
}
.readMore svg {
    transform: rotate(45deg);
    position: relative;
    bottom: 1px;
}

.readMore:hover {
    opacity: .8;


}
.miniLoading {
    display: block;
    margin: auto    ;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #666;
    animation: spin .7s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.mainM div img {
    display: none;
}

.main_active {
    width: 300%;
    margin: 0;
}

.button {
    display: none;
}


.mainTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
}

/*  input */
.input {
    width: 100%;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    -webkit-appearance: none;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    transition: .2s;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 15px;
}

.error {
    animation: error .5s 1;
    color: black;
}

.error::placeholder {
    color: #DE303B;
}

.input:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.input::placeholder {
    font-size: 15px;
    color: rgba(0,0,0,0.2);
}

@keyframes error {
    0% {
    }
    20% {
        transform: translateX(-3px);
    }
    40% {
        transform: translateX(3px)
    }
    60% {
        transform: translateX(-3px)
    }
    80% {
        transform: translateX(3px);
    }
    100% {
    }
}

.label {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
}

.icon {
    position: absolute;
    top: 32%;
    right: 4%;
    width: auto;
    height: 40%;
    transition: .2s;
}

.iconFocused {
    transform: scale(1.01) translateY(-5px);
}

.inputIcon {
    position: absolute;
    top: 16%;
    left: 2%;
    width: 12px;
}
/* end input */


/* filter item */

.resultContent {
    height: 70%;
    overflow-y: auto;
}

.resultContent span {
    font-size: 15px;
    margin-left: 30px;
}

.filterItem {
    width: auto;
    height: auto;
    border-bottom: 1px solid #B2B4BD;
    display: flex;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 15px 0;
    transition: .2s;
    cursor: pointer;
    color: black;
}

.filterItem:hover {
    border-bottom: 1px solid black;
}

.filterItemImg {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.filterItemContent {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.filterItemContentTitle {
    font-size: 18px;
    font-weight: 600;
}
.filterItemDescription {
    font-size: 13px;
}

.filterItemContentSubtitle {
    font-size: 12px;
}
/* end filter item */

.mainTitleM {
    display: none;
}


@media screen and (max-width: 768px) {
    .input {
        font-size: 12px;
        padding: 7px 20px;
    }
    .input::placeholder {
        font-size: 12px;
    }
    .mainTitle {
        font-size: 12px;
    }
    .empty {
        font-size: 10px;
    }
    .resultContent {
    overflow-y: auto;
    }
    .filterItem {
        padding: 10px 0;
    }
    .filterItemContentTitle {
        font-size: 10px;
    }
    .filterItemContentSubtitle {
        font-size: 8px;
    }
    .filterItemImg {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 450px) {
    .main {
        width: 100%;
        left: 0;
        background-color: white;
    }
    .mainM {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mainM div {
        display: flex;
        align-items: center;
    }
    .mainM div img {
        width: 20px;
        height: 20px;
        display: block;
    }
    .mainTitleM {
        display: block;
        font-size: 14px;
        margin-right: 2px;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2455C6;
        color: #FFF;
        border-radius: 5px;
        outline: none;
        border: none;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
        transition: .1s ease-in-out;
        padding: 5px 10px;
        margin: 5px;
        cursor: pointer;
    }

    .white {
        background-color: #FFFFFF;
        color: #2152F5;
    }

    .button:hover {
        filter: brightness(0.9);
    }
    .input {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    }
    .active {
        background-color: #2455C6;
        color: #FFF;
    }
    .mainTitle {
        display: none;
    }
    .filterItem {
        padding: 10px 0;
    }
    .filterItemContentTitle {
        font-size: 15px;
    }
    .filterItemContentSubtitle {
        font-size: 11px;
    }
    .filterItemImg {
        width: 40px;
        height: 40px;
    }
    .resultContent {
        height: auto;
        overflow-y: auto;
    }
    .resultContent_hidden {
        height: 0;
    }
}

.loadingContainer {
    text-align: center;
}

.ldsDualRing {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.ldsDualRing:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px auto;
    border-radius: 50%;
    border: 6px solid #2152F5;
    border-color: #2152F5 transparent #2152F5 transparent;
    animation: lds-dual-ring 1.2s linear infinite;

}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
