.button {
    text-align: center;
    border-radius: 10px;
    background-color: #2455C6;
    color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    outline: none;
    border: none;
    padding: 10px 20px;
    transition: .1s ease-in-out;
}

.isForm {
    margin-top: 40px;
}

.button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.button:active {
    filter: brightness(90%);
    transform: scale(0.99);
}

.active {
    transform: scale(1.01) translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    background-color: #2455C6;
    color: white;
}

.disabled {
    background-color: #FFF;
    color: #2455C6;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
}

.medium {
    font-size: 18px;
}

.fullWidth {
    width: 100%;
}

.small {
    font-size: 15px;
}

.large {
    font-size: 35px;
}